/* 拖入表单元素样式 */

.item {
    min-height: 40px;
    padding: 5px;
    font-size: 0;
}

.i-title {
    display: inline-block;
    width: 100px;
    vertical-align: 50%;
    font-size: 16px;
    height: 40px;
    vertical-align: bottom;
}

.i-body {
    display: inline-block;
    min-height: 38px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.item+.item {
    border-top: 1px dashed gray;
}