/* 表单页面主体框架样式 */

html {
    overflow: hidden;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(cc, cc, cc, .1);
    border-radius: 6px;
}

header {
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
    padding-top: 25px;
    position: absolute;
    height: 84px;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    text-align: center;
    min-width: 1024px;
}

article {
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    bottom: 0;
}

.itg-group {
    width: 200px;
    border-right: 1px solid gray;
    background-color: whitesmoke;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.itg {
    margin: 5px;
    border: 1px dashed lightgray;
    height: 38px;
    text-align: center;
}

.itg:active {
    color: #17bc94;
    border-color: #17bc94;
    background-color: rgba(23, 188, 148, .1);
}

.form-design {
    position: absolute;
    min-width: 824px;
    top: 0;
    bottom: 0;
    left: 201px;
    right: 0;
}

.form-tab {
    position: absolute;
    height: 50px;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    right: 0;
}

.d-title {
    padding: 9px 10px;
}

.d-title>h2 {
    margin: 0;
}

.btn-group {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    padding: 5px;
}

.btn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
}

.container {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
    font-size: 0;
    white-space: nowrap;
    overflow: auto;
    z-index: 1;
}

.dialog {
    display: inline-block;
    min-width: 600px;
    max-width: 600px;
    vertical-align: middle;
    /* border-radius: 6px; */
    height: 100%;
    background-color: white;
    text-align: left;
    font-size: 14px;
    white-space: normal;
}

.content {
    padding: 20px;
}

.f-fill {
    color: white;
    background-color: #17bc94;
}

.form-canvas {
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

button:hover {
    cursor: pointer;
}