.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.abs-clip {
    position: absolute;
    clip: rect(0 0 0 0);
}

.dn {
    display: none;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.df {
    display: flex;
}

.dg {
    display: grid;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.tj {
    text-align: justify;
}

.vt {
    vertical-align: top;
}

.vm {
    vertical-align: middle;
}

.vb {
    vertical-align: bottom;
}

.mt10 {
    margin-top: 10px;
}

.ml8 {
    margin-left: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.pt8 {
    padding-top: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.minw1024 {
    min-width: 1024px;
}

.w1024 {
    width: 1024px;
}

.wa {
    width: auto;
}

.ha {
    height: auto;
}

.h100p {
    height: 100%;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.wm-ht {
    writing-mode: horizontal-tb;
}

.wm-vl {
    writing-mode: vertical-lr;
}